{# TODO: responsive design! Argh!#}
<html>
<head>
    <meta charset="UTF-8">
    <title>Street Pieces</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body id="body">
<main>


    {% block body %}
    {% endblock %}

    <nav>
        <a href="/contact">Contact</a>
        <a href="/video">Videos</a>
        <a href="/music">Music</a>
        <a href="/gigs">Gigs</a>
    </nav>

    <!-- preload images here -->
    <link rel="preload" href="/static/images/blurry_blue.jpg" as="image">
</main>


{#<script src="/static/scripts.js" rel="script"></script>#}
</body>
</html>
