{% extends 'layout.html' %}

{% block body %}
    <div class="arrow-box" onclick="changePlayer('l')">
        <img class="left-arrow arrow" src="../static/images/right_arrow.png">
    </div>
    <div class="main-wrapper">
        {% include 'title.html' %}
        <div id="music-wrapper">
            {% for player in music_players %}
                {{ player.iframe | safe }}
            {% endfor %}
        </div>

        {% include 'socials.html' %}

    </div>
    <div class="arrow-box" onclick="changePlayer('r')">
        <img class="right-arrow arrow" src="../static/images/right_arrow.png">
    </div>
    <script src="/static/music_db.js" rel="script"></script>
{% endblock %}

